<footer class="bg-header-gray">
    <div class="container mx-auto py-12">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 justify-center items-center">
        <div class="mb-6 text-center">
          <h5 class="mb-3 text-green-title text-xl">Contact</h5>
          <p class="text-green-title">Direction: Calle Falsa, 123<br>
             Telephone: 123 456 789<br>
             Email: info@chessclub.com</p>
        </div>
        <div class="mb-6 text-center">
          <h5 class="mb-3 text-green-title text-xl">Important</h5>
          <ul class="list-none p-0">
            <li><a href="#" class="footer-link">Championships</a></li>
            <li><a href="#" class="footer-link">Photos</a></li>
            <li><a href="#" class="footer-link">Rankings</a></li>
            <li><a href="#" class="footer-link">Contact form</a></li>
          </ul>
        </div>
        <div class="mb-6 text-center">
          <h5 class="mb-3 text-green-title text-xl">Need help?</h5>
          <ul class="list-none p-0">
            <li><a href="#" class="footer-link">Championships</a></li>
            <li><a href="#" class="footer-link">Photos</a></li>
            <li><a href="#" class="footer-link">Rankings</a></li>
            <li><a href="#" class="footer-link">Contact form</a></li>
          </ul>
        </div>
      </div>
      <hr class="my-6">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 justify-center items-center">
        <div class="flex flex-col sm:flex-row items-center">
            <a class="flex items-center text-xl font-bold font-brand mb-2 sm:mb-0" href="index.html">
              <img src="./assets/images/chess-logo.png" alt="Logo" class="w-12 h-auto mx-2">
              <span class="mr-2 text-green-title">Chess Club</span>
            </a>
          </div>
        <div>
          <ul class="list-none flex justify-center space-x-4">
            <li><a href="index.html" class="footer-link">Home</a></li>
            <li><a href="article.html" class="footer-link">Blog</a></li>
            <li><a href="members.html" class="footer-link">Members</a></li>
          </ul>
        </div>
        <div class="text-center">
          <ul class="list-none flex justify-center space-x-4">
            <li class="d-inline"><a href="#" class="footer-link"><i class="fab fa-google-plus-g"></i></a></li>
            <li class="d-inline"><a href="#" class="footer-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="d-inline"><a href="#" class="footer-link"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-uoc-corporate text-white py-8">
      <div class="container mx-auto flex justify-center items-center">
        <div class="w-1/4 text-end">
          <img src="./assets/images/logo-uoc.png" alt="Logo del Club de Ajedrez" class="img-fluid h-16">
        </div>
        <div class="w-3/4">
          <p class="text-start mb-1">This wireframe has been created exclusively for its use within the "HTML and CSS Tools II" course at the UOC's Master Program in Website and Web App Development. Its reproduction and other uses are not authorized.</p>
          <p class="text-start mb-0">© May 2023 - Pol Tosca Ropero and Universitat Oberta de Catalunya.</p>
        </div>
      </div>    
    </div>  
</footer>
  
  
  