<header class="bg-header-gray border-b-2 border-green">
    <nav >
      <div class="flex flex-col sm:flex-row justify-between items-center max-w-[1140px] mx-auto px-5 mb-5 mt-5">
        <div class="flex flex-col sm:flex-row items-center">
          <a class="flex items-center text-xl font-bold font-brand mb-2 sm:mb-0" href="index.html">
            <img src="./assets/images/chess-logo.png" alt="Logo" class="w-12 h-auto mx-2">
            <span class="mr-2">Chess Club</span>
          </a>
        </div>
        <ul class="flex flex-col sm:flex-row justify-center items-center space-y-2 sm:space-y-0 sm:space-x-4 mb-2 sm:mb-0">
          <li>
            <a href="blog.html" class="text-gray-title font-bold hover:text-gray-600">Blog</a>
          </li>
          <li>
            <a href="members.html" class="text-gray-title font-bold hover:text-gray-600">Members</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
  
  
  
  